annotated-doc==0.0.4
annotated-types==0.7.0
anyio==4.12.1
apache-airflow==2.10.5
click==8.3.1
colorama==0.4.6
fastapi==0.128.3
ffmpeg-python==0.2.0
future==1.0.0
greenlet==3.3.1
h11==0.16.0
idna==3.11
mpmath==1.3.0
networkx==3.6.1
psycopg2-binary==2.9.11
pydantic==2.12.5
pydantic_core==2.41.5
SQLAlchemy==2.0.46
starlette==0.52.1
sympy==1.14.0
typing-inspection==0.4.2
typing_extensions==4.15.0
uvicorn==0.40.0
