{% extends 'base.html' %}

{% block title %}Employee Management{% endblock %}

{% block body %}
<div class="container">
    <h1 class="text-center">Add Employee Data</h1>
    <form action="/" method="POST">
        <div class="mb-3">
            <label for="name" class="form-label">Name</label>
            <input type="text" class="form-control" id="name" name="name" placeholder="Enter Full Name">
        </div>
        <div class="mb-3">
            <label for="email" class="form-label">Email</label>
            <input type="email" class="form-control" id="email" name="email" placeholder="Enter Email">
        </div>
        <div class="mb-3">
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
    </form>

    <hr class="my-5">

    <h2 class="text-center">All Employee Data</h2>
    <div class="table-responsive">
        <table class="table table-striped table-bordered">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                {% for i in allemp %}
                <tr>
                    <td>{{loop.index}}</td>
                    <td>{{i.name}}</td>
                    <td>{{i.email}}</td>
                    <td>
                     <a href="/update/{{i.id}}" class="btn btn-dark btn-sm" role="button">Update</a>
                     <a href="/delete/{{i.id}}" class="btn btn-dark btn-sm" role="button">Delete</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}